* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.app {
  background-color: black;
  align-items: center;
}

.loader {
  color: blue;
}

.search-icon {
  color: #b9019a;
  font-size: larger;
  cursor: pointer;
}

h1 {
  font-family: "Fredoka One", cursive;
  color: #cccbcb;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    320deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 49, 29, 1) 67%,
    rgba(252, 176, 69, 1) 100%
  );
  font-size: 6rem;
  text-align: center;
}

.search-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #cccbcb;
  transition: all 0.4s;
  color: #cccbcb;
}

.search-input:focus {
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid #b9019a;
  color: #b9019a;
}

.search {
  background: transparent;
  outline: none;
  border: none;
}

.search-icon {
  color: #cccbcb;
  font-size: larger;
  cursor: pointer;
  transition: all 0.4s;
}

.search-icon:hover {
  color: #b9019a;
  font-size: larger;
  cursor: pointer;
  transform: translateY(-1px);
  transition: all 0.4s;
}
