* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.app {
  background-color: black;
  align-items: center;
}

.loader {
  color: blue;
}
